body {
	background-color: #f9f6dd;
	padding-top: 140px;
}
.navbar-inverse .navbar-inner {
  background-color: #1b4a5b;
  background-image: -moz-linear-gradient(top, #143743, #1b4a5b);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#143743), to(#1b4a5b));
  background-image: -webkit-linear-gradient(top, #143743, #1b4a5b);
  background-image: -o-linear-gradient(top, #143743, #1b4a5b);
  background-image: linear-gradient(to bottom, #143743, #1b4a5b);
  border-color: #252525;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff1b4a5b', endColorstr='#ff1b4a5b', GradientType=0);
}
.navbar { color: #fff; }
.navbar .brand {
	padding: 0 10px 4px 0;
	color: #fff;
	margin-left: 0;
}
